:root {
    --page-bg: #00093f;
}

/* Reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--page-bg);
}

#document {
    background-color: rgb(0, 9, 63);
    color: #ededf0;
}
textarea {
    background-color: rgb(0, 9, 63);
    color: #ededf0;
}
.canvasCaption {
    font-family: monospace;
    margin: 16px 0;
}

#mainRenderer {
    max-width: 512px;
    max-height: 512px;
    width: 90vw;
    height: 90vw;
}

#mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-aspect-ratio:1/1) {
    #galleryWrapper {
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}

@media (min-aspect-ratio:1/1) {
    #galleryWrapper {
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

#galleryContainer {
    width: 600px;
}
#sideContainer {
    min-width: 600px;
    width: 25vw;
}